*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI' Verdana, Geneva, Tahoma, sans-serif;
}

div.container{
    background-color:antiquewhite;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50xp;
    padding: 30px;
    border-radius: 5px;

}

form#frmLogin{
    background-color:azure;
    padding: 20px;
    border-radius: 5px;
}
h3.title{
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: larger;
    text-align: center;
}
div.form-group{
    margin-bottom: 10px;
    margin-top: 10px;
}
label{
    color:red;
    font-weight: bolder;
}
.form-control{
    display: block;
    width: 100%;
    padding: 3px;
}
.buttom{
    background-color: rgb(34, 178, 65);
    color: black
    font-weight: bolder;
    padding: 5px;
    border-radius: 2px;
}